body {
	background-color: #000;
	background-repeat: repeat;
	background-attachment: fixed;
	background-image: url("../imgs/brokenheart2.gif");
	font-family: "Courier New", Courier, monospace;
	margin:0;
	padding:0;
}
.container {
	background: black;
	margin: 20px 15% 100px 15%;
	min-width: 400px;
	padding: 10px 40px;
	border-style: dashed;
	border-color: rgba(0, 125, 255, 1); 
	display: table;
}

.floater {
	position: fixed;
	bottom: 10px;
	right: 10px;
	background-color: yellow;
	max-width: 240px;
	padding: 10px 20px 10px 20px;
	color: black;
	border-style: ridge;
	border-color: lime;
	border-collapse: collapse;
}
.floater p {
	color: black;
}

h1 {
	text-align: center;
	font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
	letter-spacing: -0.05em;
	color: rgba(0, 125, 255, 1);
	font-size: 40pt;
	padding: 10px 0 8px 0;
	margin-bottom:0;
	/*margin-top: 40px;*/
	background-color: white;
	border-radius: 35px;
	border: 10px solid rgba(0, 125, 255, 1);
}

h2 {
	text-align: center;
	color: #888;
}


h3, h4, h5, h6 {
	color: white;
}

h6 {
	text-align: center;
	font-weight: normal;
	color: #999;
}

em {
	font-weight: bold;
	color: magenta;
}

lead {
	font-size: 1.2em;
	font-weight: bold;
}

p {
	margin-bottom: 2em;
	color: white;
}

.staticHeader {
	z-index: 1;
	position: fixed;
	margin: 0px 10% 0 10%;
	top:0;
	width: 80%;
	background-color: rgba(0, 125, 255, 1);
}

.staticHeader th {
	text-align: center;
	color: white;
	border: 4px solid white;
	background-color: rgba(0, 125, 255, 1);
	padding: 20px 0;
	vertical-align: middle;
	width: 25%;
}

.script {
	margin: 90px auto 60px auto;
	vertical-align: top;
	width: 80%;
}


.script td {
	border: 4px solid rgba(0, 125, 255, 1);
	background-color: white;
	padding: 20px 0;
}

.quarter {
	width: 25%;
}

ul {
	margin: 0 0.4em 0 1.9em;
	padding: 0;
}

ul li.boy:before {
	content: "B: ";
	font-weight: bold;
	margin: 0 -1.2em;
	padding: 0 0.7em 0 0;
}
.boy {
	color: blue;
	list-style: none;
	margin: 0 0 1em 0;
}

ul li.girl:before {
	content: 'G:';
	font-weight: bold;
	margin: 0 -1.2em;
	padding: 0 0.7em 0 0;
}
.girl {
	color: red;
	list-style: none;
	margin: 0 0 1em 0;
}

.note {
	color: darkgrey;
	list-style: none;
	text-transform: uppercase;
	/**/
}

li.note {
	margin: 0 0 1em -1.2em;
}

td p.note, td h5.note {
	margin: 0 0.5em 1em 0.5em;
}

.toScript, a.toScript , a:visited.toScript {
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
	color: turquoise;
}

a:hover.toScript  {
	color: purple;
}

.centerAlign {
	display: table-row;
	width: 100%;
	text-align: center;
}

.fullWidthImg {
	width: 90%;
	max-width: 865;
	/*border: dotted 1px rgba(0, 125, 255, 1);*/
	padding: 15px;
}

.description {
	width:60%;
	max-width: 500px;
	margin-right: 20%;
	margin-left: 20%;
	padding: 0px 20px 40px 20px;
}